.title {
text-align: center;
font-size: 50px;
padding: 10px;
}

.About {
text-align: center;
text-indent: 30px;
font-size: 17px;
line-height: 2;
padding-left: 6%;
padding-right: 6%;
}

.teamimages {
    display: inline-block;
    padding: 3%;
    margin-left: 60px;
    margin-right: 60px;
}

.imagecontainer {
    text-align: center;
}

.lefttext,
.middletext,
.righttext {
    width: 19.2%;
    float: left;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 7%;
}