input {
	text-align: center;
}

h3 {
	text-align: center;
}



.contact .row{	
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 45%;
}

.contact .row .content{
flex: 30rem;
padding: 4rem;
padding-bottom: 0;
}

.contact .row form{	
flex: 45rem;
padding: 2rem;
margin: 2rem;
margin-bottom: 4rem;	
}

.contact .row form .box{	
color: #333;	
padding: 1rem;
margin: 1rem;
background: #fff;
text-transform: none;
font-size: 1.7rem;	
width: 300%;
height: 4.3rem;
text-align: left;
border-radius: .5rem;
}

.contact .row form .box::placeholder{
	text-transform: capitalize;
	color: #333;
	text-align: left;
	font-size: 1.2rem;


}

.contact .row form .message{
	height: 10rem;
	resize: none;
}

.contact .row form .btn {
	font-size: 1.3rem;
	border-radius: 3.2rem;
	margin-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	cursor: pointer;
}


#footerinfo{
    margin: 0 auto;
}

#LOGO, #contactinfo, #Menulink, #OpeningHours{
    margin:10px;
    padding:50px;
    float:left;
}

a{
    text-decoration: none;
}
