img {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
	height: 300px;
	width: 400px;
}

#galleryGrid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}