#galleryGrid img{
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
	height: 300px;
	width: 400px;
}

#galleryGrid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}

#footerinfo{
    margin: 0 auto;
}

#LOGO, #contactinfo, #Menulink{
    margin:10px;
   padding:50px;
    float:left;
}

#LOGO, #contactinfo, #Menulink, #OpeningHours{
    margin:10px;
    padding:50px;
    float:left;
}

a{
    text-decoration: none;
}