html{
	background-color: #2D5D7B;
}
body {
	display: flex;
	flex-direction: column;
    background-color: #457EAC;
	margin: 5%;
	border-radius: 25px;
}

/* class rules */
.current{
	color: #8300A8;
}
.nonCurrent{
	color: #292929;
}
/* Id rules */
#title{
	display: flex;
	font-family: Impact, fantasy;
	color: #8300A8;
	font-size: 36px;
	justify-content: center;
}

#landingContent{
	padding: 5%;
}

#navMenu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

#navMenu ul li {
    width: 100%;
    list-style: none;
    position: relative;

}

#navMenu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#navMenu ul ul li {
float: none;
}

#navMenu ul li:hover > ul {
    display: block;
}

#navMenu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#navMenu ul {
    margin: 0;
    padding: 0;
}

#navMenu ul li:hover ul {
    width: 100%;
}

#navMenu ul li a {
    text-align: center;
    display: block;
    padding: .7em 0;
    text-decoration: none;
    background-color: #9191E9;
}


#navMenu ul li a:hover, #navMenu ul li a:focus {
    background-color: #C2AFF0;
}
