html{
	background-color: #2D5D7B;
}
body {
	display: flex;
	flex-direction: column;
	margin-left: 15%;
	margin-right: 15%;
	border-radius: 25px;
}
p{
	margin: 5%;
	
}
/*id rules */
#landingContent {
	padding: 5%;
}
/* class rules */
.current{
	color: #8300A8;
}
.nonCurrent{
	color: #292929;
}
/* Header Menu CSS */

#navMenu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

#navMenu ul li {
	margin-top: 0;
    width: 100%;
    list-style: none;
    position: relative;

}

#navMenu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#navMenu ul ul li {
	float: none;
}

#navMenu ul li:hover > ul {
    display: block;
}

#navMenu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#navMenu ul {
	margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
}

#navMenu ul li:hover ul {
    width: 100%;
}

#navMenu ul li a {
    text-align: center;
    display: block;
    padding: 0.7em 0;
    text-decoration: none;
    font-family: unset;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
    background: radial-gradient(circle, rgba(145,145,233,1) 20%, rgba(190,190,255,1) 50%, rgba(100,100,162,1) 80%);
    background-color: #9191E9;
    border: 2px;
    border-style: ridge;
    border-color: #9191E9;
}


#navMenu ul li a:hover, #navMenu ul li a:focus {
   background: radial-gradient(circle, rgba(145,0,233,1) 20%, rgba(190,190,255,1) 50%, rgba(100,100,162,1) 80%);
}
/*title and banner Css*/
.titleAndBanner {
	margin-bottom: 0;
	position: relative;
	display: flex;
}

#banner {
	margin: 0;
}

#banner img {
	margin-bottom: 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
}

#pageTitle {
	font-family: Impact, fantasy;
	color: #dd65ff;
	position: absolute;
	border-radius: 25px;
    top: 43%;
	left: 10%;
	height: 35%;
	width: 34%;
	background-color: black;
	opacity: 0.5;
}

#pageTitle h1 {
	margin: 11%;
	font-size: 319%;
	text-shadow: 5px 5px 8px #8300a8;
}

/* Footer CSS */
#footerinfo 
{
	display: flex;
    background-color: #9191e9;
	position: relative;
	flex-grow: 1;
	width: 100%;
	justify-content: center;
	border-radius: 25px;
}

footer 
{
    flex-direction: row;
    flex-wrap: nowrap;
}

#LOGO img 
{
	width: 150px;
	height: 100px;
}

#Menulink a
{
	color: black;
	text-decoration: none;
}


#footerinfo
{
    margin: 0 auto;
}

#LOGO, #contactinfo, #Menulink, #OpeningHours
{
    margin:10px;
    padding:60px;
    float:left;
}

a
{
    text-decoration: none;
}

