.serviceContent1
{
    font-family: Garamond;
    font-size: 2.5vmin;
    margin-top: 3%;
    width: 25%;
    height: 10%;
    line-height: 150%;
    padding: 1%;
    margin-right:10px;
}

.serviceContent2
{
    font-family: Garamond;
    font-size: 2.5vmin;
    margin-top: 3%;
    width: 25%;
    height: 10%;
    line-height: 150%;
    padding: 1%;
}