html{
	background-color: #2D5D7B;
}
body {
	display: flex;
	flex-direction: column;
    background-color: #457EAC;
	border-radius: 25px;
}

.servicesTitle 
{
    color: #fff;
    font-family: Garamond;
    font-size: 2.5vmin;
    text-shadow: black 0.1em 0.1em 0.2em; 
    text-align: center;
    margin-top: 0px;
    padding-bottom: 25px;
    border-bottom: 4px double black;
}

.serviceContent1 ul{
    background-color: #2D5D7B;
    border-radius: 25px;
}

.serviceContent2 ul {
    
    background-color: #2D5D7B;
    border-radius: 25px;

}


.serviceContent1
{
    color: #fff;
    float: left;
    font-family: Garamond;
    font-size: 2.5vmin;
    width: 35%;
    height: 15%;
    line-height: 200%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}

.serviceContent1 h2 
{
    text-shadow: black 0.1em 0.1em 0.2em; 
}

.serviceContent2
{
    color: #fff;
    font-family: Garamond;
    font-size: 2.5vmin;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 10%;
    line-height: 200%;
}


#footerinfo{
    margin: 0 auto;
}

#LOGO, #contactinfo, #Menulink, #OpeningHours{
    margin:10px;
    padding:50px;
    float:left;
}

a{
    text-decoration: none;
}
